<h1 class="title">木曽 裕哉のポートフォリオ</h1>
  
<h2 class="subtitle">plofile</h2>
  <ul class="profile_area">
    <li>小売業に約４年勤務</li>

    <li>退職後プログラミング学習(Tech camp)</li>

    <li>転職活動中</li>
  </ul>
<h2 class="subtitle">経歴</h2>

<h2 class="subtitle">作品集</h2>
<div class="over">
  <%= link_to image_tag("image1", class: "work_image"), "http://geresuki.herokuapp.com"%>
  <%= image_tag "image2", class: "work_image"%>
  <%= link_to image_tag("image3", class: "work_image"), "https://www.youtube.com/channel/UCLKjWhwn6pRmCUqzOE8wzWQ"%>
</div>