<h1 class="title">  
  <a href="#profile">profile</a>
  <a href="#career">経歴</a>
  <a href="#item">作品集</a>
  <br>木曽 裕哉のポートフォリオ
</h1>
  
<h2 id="profile" class="profile">plofile</h2>
  <ul class="profile_area">
    <li>小売業に約４年勤務</li>

    <li>退職後プログラミング学習(Tech camp)</li>

    <li>転職活動中</li>
  </ul>
<h2 id="career" class="career">経歴</h2>
  <ul class="career_area">
    <li>横浜創学館高校卒業</li>
    <li>関東学院大学卒業</li>
    <li>教員免許取得(地理・歴史)</li>
    <li>某ディスカウントストア勤務</li>
  </ul>

<h2 id="item" class="item">作品集</h2>
<div class="over">
  <%= link_to image_tag("image1", class: "work_image"), "http://geresuki.herokuapp.com"%>
  <%= image_tag "image2", class: "work_image"%>
  <%= link_to image_tag("image3", class: "work_image"), "https://www.youtube.com/channel/UCLKjWhwn6pRmCUqzOE8wzWQ"%>
</div>