body{
  background-color: skyblue;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.title{
  background-image: url('image4.jpg');
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  font-size: 60px;
  font-family: 'HiraMinProN-W3';
  color: white;
}

.profile{
  background-image: url("image6.jpg");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: 50px 20px 0px 20px;
  font-family: 'HiraMinProN-W3';
  font-size: 40px;
  color: white;
}

.career{
  margin: 50px 20px 0px 20px;
  font-family: 'HiraMinProN-W3';
  font-size: 40px;
  color: white;
}

.item{
  margin: 50px 20px 0px 20px;
  font-family: 'HiraMinProN-W3';
  font-size: 40px;
  color: white;
}

.profile_area, .career_area {
  border: solid 1px  white;
}

.work_image{
  width: 30vw;
  height: 300px;
}

.over{
  display: flex;
  justify-content: space-between;
}