.over{
  display: flex;
  justify-content: space-between;
}

.top_image{
  width: 100vw;
  height: 500px;
}

.subtitle{
  margin: 50px 20px 0px 20px;
}

.profile_area{
  border: solid 1px  black;
}

.work_image{
  width: 30vw;
  height: 300px;
}
